<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Some about Me & this page!</h2>
                <hr class="light">
                <p class="text-faded">Hello, I'm Jorge an Android Developer that love & enjoy the idea of making applications that fulfy the needs of the users.Im always interested in how design a better User Experience, so the final users can enjoy every time they open these apps.. Also in this page you can find some of my MVP projects let's checked out!</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
